

.address{
    
    
    margin-top: 15rem;
    
    
    
       
}

.card{
    text-align: center;
    
    background: lightgray;
    margin:0 auto;
    float: none;
    
    max-width: 50px;
    
    
    
}

.card-title{
    color: seagreen;
}


